{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block content %}
    <div class="main-container product_upload" >

<div id="first_container" class="inv_column">

    <div id="inventory_title" aria-live="polite" class="section_title">{%block left_col_title %}Database Management{% endblock %}</div>
    <div id="inventory" aria-live="polite" class="inventory_list_section">

        <form id="login-form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="file1"> Please select a CSV file to upload:</label>
            <br><br>
            <input style="padding-left:5vw;" type="file" id="file1" name="file">
            <br><br>
            <button style="margin-left:25vw;" type="submit">Upload</button>
        </form>

        <div>
            <p>Order of the CSV should be: title,price,imagepath,alt,active. </p>

               <p>
                    If your content contains a comma (,) you must put that segment in between a set of quotation marks.  <br> <br> For example: <br>  date of birth, fullname, favcolor  <br> "13 October, 1993", "Dr. Brown, M.D", blue
               </p>


         </div>

    </div>
    </div>
{% endblock %}

<div class="order_column" id="second_container" aria-atomic="true">



    </div>
{% block sidebar %}
    <div class="order_column" id="second_container">
    <div id="order_title" class="section_title" aria-live="polite"> Notes on CSVs </div>
        <div class="order_list_section" id="orders" aria-relevant="additions removals" aria-live="polite">

            <div>

                <h2>Explanation of Fields</h2>

                <p><span class="explanation">Title:</span> Textfield, no more than 20 characters</p>
                <p><span class="explanation">Price:</span> Must be a number</p>
                <p><span class="explanation">imagepath</span> You will have to edit the items to upload the images, so this can be anything but blank</p>
                <p><span class="explanation">alt:</span> Free text with a 30 character limit</p>
                <p><span class="explanation">active:</span> Boolean value and must be True or False</p>

            </div>

        </div>



    </div>


{% endblock %}

{% block messages %}
    <h1 style="padding-left:2vw; padding-top: 2vh">Message Center</h1>
      {% if messages %}
        <div class="messagebox">
     <ul class="messagelist">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <strong>{{message|safe}}</strong>
            </li>
        {% endfor %}
    {% endif %}
            </ul>
    </div>

{% endblock %}