{% extends 'base.html' %}
{% load static %}

<{% block content_header %}
    Inventory
    {{ my_info |json_script:"my-info" }}

{% endblock %}

{% block content %}

{% for product in inventory %}
    <div class="product" id="product-{{product.id}}" onClick="moveToCart({{product.id}})">

        <div class="title noselect">
            {{product.title}}
        </div>

        <div class="image_line noselect">
            <img src="{{ product.imagepath.url}}" alt="{{product.alt}}" />
        </div>

        <div class="price noselect">
            ${{product.price}}
        </div>

    </div>


 {% endfor %}
{% endblock %}

