
{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
{#<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">#}
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
{% block extrastyle %}{% endblock %}
{#{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}#}
{% block extrahead %}{% endblock %}
{% block responsive %}
{#    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">#}
{#    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">#}
{#    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}#}
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
{% load i18n %}

 <!-- CHANGE ORIENTATION SECTION
      Divs Phone and Message are hidden initially, these show only when the device is in landscape and smaller than -->
  <section id="changeOrientation">
    <div class="phone"> </div>
    <div class="message"> Please rotate your device! </div>
  </section>
  <!--/#CHANGE ORIENTATION-->


<body class="django_admin_css {% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">



<!-- Container -->
<div id="main-container">
    {% if not is_popup %}
    <!-- Header -->
    <div id="header" class="main-header">
        <div id="flex-menu" class="icon-bar">
          <div class="flex-nav-links-left">
              {% block breadcrumbs %}
                    <div class="breadcrumbs">
                        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                        {% if title %} &rsaquo; {{ title }}{% endif %}
                    </div>
              {% endblock %}
          </div>
          <div class="flex-nav-links-right">
{% block usertools %}
            {% if user.is_active and user.is_staff %}
            <div id="user-tools flex-login">
                {% block userlinks %}
                    {% if site_url %}
                        <a href="{{ site_url }}">{% trans 'View site' %}</a> /
                    {% endif %}
                    {% if user.is_active and user.is_staff %}
                        {% url 'django-admindocs-docroot' as docsroot %}
                        {% if docsroot %}
                            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                        {% endif %}
                    {% endif %}
                    {% if user.has_usable_password %}
                    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                    {% endif %}
                    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                {% endblock %}

            </div>
        </div>
        {% endif %}
        {% endblock %}
          </div>


        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->

    {% endif %}



    <!-- Content -->
        {% block pretitle %}{% endblock %}
{#        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}#}
        {% block content %}


        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}

{% block sidebar %}
    <div class="order_column" id="second_container">
    <div id="order_title" class="section_title" aria-live="polite"> Recent actions </div>
        <div class="order_list_section" id="orders" aria-relevant="additions removals" aria-live="polite"></div>


    </div>

{% endblock %}

{% block footer %}
    <!-- Start of redrawable .pay_section (bottom in all orientations) -->
    <div class="pay_section admin_pay" style="align-items:start">
{#    <div id="content" class="{% block coltype %}colM{% endblock %}">#}
     {% block messages %}
         <h1 style="padding-left:2vw; padding-top: 2vh">Message Center</h1>
        {% if messages %}
            <div class="messagebox">
            <ul class="messagelist">
                {% for message in messages %}
                    <li
                        {% if message.tags %}
                            class="{{ message.tags }}"
                        {% endif %}>
                            {{ message|capfirst }}
                    </li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
     {% endblock messages %}
    </div>

    <!-- /#pay_section-->

    <!-- Static footer section -->
    <footer class="main-footer" role="contentinfo">
      <div class="footer-inner">
        <span>&copy; 2019 GabbardDesigns</span>
      </div>
    </footer>
{% endblock %}

    </div>
    <!-- END Content -->


</div>
</div>
<!-- END Container -->

{% block extra_scripts %}
{% endblock %}

</body>
</html>

