{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block content %}
<div class="main-container">

<div id="first_container" class="inv_column">

    <div id="inventory_title" aria-live="polite" class="section_title">{%block left_col_title %}Database Management{% endblock %}</div>
    <div id="inventory" aria-live="polite" class="inventory_list_section">
        {%  block form %}
        {% if app_list %}
            {% for app in app_list %}

                {% for model in app.models %}


                    {% if model.name == 'Groups' %}



                    {% else %}
                        <div class="admin_rows">
                        <h1 style="font-weight: bolder">Manage {{model.name}}</h1>
                        <div class="new">
                            {% if model.add_url %}

                                <div class="product admin_square" onClick="location.href='{{ model.add_url }}'" >
                                        <div class="title noselect"> Add New </div>
                                        <div class="image_line noselect"> <img src="
                                            {% if model.name == 'Products' %}
                                                {% static "/images/cpanel/add_productCS.png" %}
                                            {% else %}
                                                {% static "/images/cpanel/add_userCS.png" %}
                                            {% endif %}
                                        "> </div>
                                        <div class="price noselect"> {{model.name}} </div>
                                </div>
                            {% endif %}

                            {% if model.admin_url %}
                                {% if model.view_only %}
                                    <div class="product admin_square" onClick="location.href='{{ model.admin_url }}'" >
                                        <div class="title noselect"> View  </div>
                                        <div class="image_line noselect"> <img src="
                                            {% if model.name == 'Products' %}
                                                {% static "/images/cpanel/edit_productCS.png" %}
                                            {% else %}
                                                {% static "/images/cpanel/edit_userCS.png" %}
                                            {% endif %}
                                        "> </div>
                                        <div class="price noselect"> {{model.name}} </div>
                                    </div>

                                {% else %}
                                    <div class="product admin_square" onClick="location.href='{{ model.admin_url }}'" >
                                        <div class="title noselect"> View/Edit  </div>
                                        <div class="image_line noselect"> <img src="
                                            {% if model.name == 'Products' %}
                                                {% static "/images/cpanel/edit_productCS.png" %}
                                            {% else %}
                                                {% static "/images/cpanel/edit_userCS.png" %}
                                            {% endif %}
                                        "> </div>
                                        <div class="price noselect"> {{model.name}} </div>
                                    </div>
                                {% endif %}

                                {% if model.name == 'Products' %}
                                    <div class="product admin_square" onClick="location.href='/../admin/products/upload-csv/'" >
                                        <div class="title noselect"> Upload  </div>
                                        <div class="image_line noselect"> <img src="{% static "/images/cpanel/upload_productCS.png" %}"> </div>
                                        <div class="price noselect"> {{model.name}} </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        </div>

                    {% endif %}


                {% endfor %}


            {% endfor %}

        {% else %}
            <p>{% trans 'You don’t have permission to view or edit anything.' %}</p>

        {% endif %}
       {% endblock %}
</div>
<div id="inventoryBottom" aria-live="polite"></div>
</div>
{% endblock %}


{% block sidebar %}
    <div class="order_column" id="second_container">
    <div id="order_title" class="section_title" aria-live="polite"> Recent actions </div>
        <div class="order_list_section" id="orders" aria-relevant="additions removals" aria-live="polite"></div>


    </div>

{% endblock %}