{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="main-container">

<div id="first_container" class="inv_column">

    <div id="inventory_title" aria-live="polite" class="section_title">Database Functions</div>
    <div id="inventory" aria-live="polite" class="inventory_list_section">
        {% if app_list %}
            {% for app in app_list %}

                {% for model in app.models %}
                    <div style="padding-top:5vh; width: 15vw; padding-right:3vw">
                    <h1 style="font-weight: bolder">{{model.name}}</h1>
                    {% if model.add_url %}
                        <div class="product" onClick="location.href='{{ model.add_url }}'" >
                                <div class="title noselect"> Add New </div>
                                <div class="image_line noselect"> <img src="{% static "/images/cpanel/edit_userCS.png" %}"> </div>
                                <div class="price noselect"> {{model.name}} </div>
                        </div>
                    {% endif %}

                    {% if model.admin_url %}
                        {% if model.view_only %}
                        <div class="product" onClick="location.href='{{ model.admin_url }}'" >
                            <div class="title noselect"> View  </div>
                            <div class="image_line noselect"> <img src="{% static "/images/cpanel/edit_userCS.png" %}"> </div>
                            <div class="price noselect"> {{model.name}} </div>
                        </div>
                        {% else %}
                        <div class="product" onClick="location.href='{{ model.admin_url }}'" >
                            <div class="title noselect"> View/Edit  </div>
                            <div class="image_line noselect"> <img src="{% static "/images/cpanel/edit_userCS.png" %}"> </div>
                            <div class="price noselect"> {{model.name}} </div>
                        </div>
                        {% endif %}
                    {% else %}
                        &nbsp;
                    {% endif %}

                    </div>
                {% endfor %}


            {% endfor %}

        {% else %}
            <p>{% trans 'You don’t have permission to view or edit anything.' %}</p>

        {% endif %}
</div>
</div>
{% endblock %}

<div class="order_column" id="second_container" aria-atomic="true">



    </div>
{% block sidebar %}
    <div class="order_column" id="second_container">
    <div id="order_title" class="section_title" aria-live="polite"> Recent actions </div>
        <div class="order_list_section" id="orders" aria-relevant="additions removals" aria-live="polite"></div>


    </div>
</div>
{% endblock %}
