{% load static %}
{% load thumbnail %}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SnackCart 2.0</title>
  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fonts.css' %}" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/png" href="favicon.png">

</head>

<body>

<header class="main-header">
      <div class="icon-bar" id="flex-menu">
        <div class="flex-login">
          <a href="/admin/" >
              {% if user.is_active and user.is_staff %} Admin View
              {%  else %}Log In
              {% endif %}
          </a>
        </div>
        <div class="flex-help">
          <a href="#" onclick="help()"><i class="fa fa-question-circle"></i></a>
        </div>
      </div>
    </header>

  <!-- IF NO JAVASCRIPT, NO APPLICATION :( -->
  <noscript>
    <section id="noScriptOverlay">
      <div id="noScriptMessage">
        <h1>JAVASCRIPT IS REQUIRED FOR SNACKCART TO FUNCTION</h1>
        <p>Please enable JAVASCRIPT and reload this page</p>
      </div>
    </section>
  </noscript>

  <!-- CHANGE ORIENTATION SECTION
      Divs Phone and Message are hidden initially, these show only when the device is in landscape and smaller than -->
  <section id="changeOrientation">
    <div class="phone"> </div>
    <div class="message"> Please rotate your device! </div>
  </section>
  <!--/#CHANGE ORIENTATION-->

{% block modalPopups %}

{% endblock %}


  <!-- main-container -->
  <main class="main-container">

    <!-- Start of redrawable #first_container (top or left depending on orientation) -->
    <div class="inv_column" id="first_container" aria-atomic="true">
      <div id="inventory_title" aria-live="polite" class="section_title">{% block inventory_area_title %}Our Products{% endblock %}</div>

      {% block inventory_area %}
            <div  aria-live="polite" class="inventory_list_section"></div>
      {% endblock %}

      <div id="inventoryBottom" aria-live="polite"></div>
    </div>

    <!-- /#first_container -->

    <!-- Start of redrawable #second_container (middle or right depending on orientation) -->
    <div class="order_column" id="second_container" aria-atomic="true">
      <div id="order_title" class="section_title" aria-live="polite">{% block order_area_title %}This Order{% endblock %}</div>
        {% block order_list_section %}
            <div class="order_list_section" aria-relevant="additions removals" aria-live="polite"></div>
        {% endblock %}
    </div>
    <!-- /#second_container -->

    <!-- Start of redrawable .pay_section (bottom in all orientations) -->
    <div class="pay_section">
        {% block pay_section %}
      <div id="payHolder" class="total_section" aria-live="assertive" aria-atomic="true">
        <div aria-live="polite" class="total_label" id="order_total_label">Amount Due:</div>
        <div aria-live="polite" class="total_amount" id="order_total">$ 0.00</div>
      </div>

      <div class="pay_button" id="paybutton">
        <button class="button disable" onclick="paymentView()">New Order</button>
        <button class="button disable" onclick="paymentView()">Issue Refund</button>
        <button class="button disable" onclick="paymentView()">Pay Now</button>
      </div>
        {% endblock %}
    </div>
    <!-- /#pay_section-->

    <!-- Static footer section -->
    <footer class="main-footer" role="contentinfo">
      <div class="footer-inner">
        <span>&copy; 2019 GabbardDesigns</span>

{% block footerButton %}
{% endblock %}

      </div>
    </footer>
    <!-- /footer-->

  </main>
  <!--/main-container-->

{%  block scripts %}
    <script src="{% static 'scripts/core.js' %}"></script>
{% endblock %}

</body>

{% block extra_scripts %}

{% endblock %}

</html>



