
{% load static %}
<style>
    .product-info-holder{
        width: 35vw;
        background-color: #fff;
        text-align: center;
        padding: 20px;
    }

    .product-info-holder h2, .product-info-holder h3{
        padding: 10px;
    }

    @media (orientation: portrait) {
        .product-info-holder {
            display:flex;
            flex-direction: row;
            min-width: 97vw;
            background-color: #fff;
        }

        .portrait_info_holder{
            min-width: 65vw;
            text-align: left;
            background-color: #fff;
            padding-left:5vw;
        }

        .info_title { order: 2; }
        .info_image { order: 1;
        display: contents;
        }
        .info_description { order: 3; }
        .info_price { order: 2; }

        .product-info-holder h1, .product-info-holder h2, .product-info-holder h3{
        display: inline;
    }


    }

</style>

<div class="product-info-holder">

<div class="product_info_segment, info_image">
  {% if inventory.imagepath %}
    <img src="{{ inventory.url }}" width="150" height="150" />
  {% endif %}
</div>

<div class="portrait_info_holder">
<div class="product_info_segment, info_title">
  <h2>{{inventory.title}}</h2>
</div>

<div class="product_info_segment, info_description">
 <h3>Description</h3>
  {% if inventory.alt %}
   {{inventory.alt}}
  {% else %}
    Description coming soon.
  {% endif %}
</div>

<div class="product_info_segment, info_price">
<h3>Price</h3>
  {{inventory.price}}
</div>
</div>
</div>

